logs/*
dags/*

airflow/logs/*

untrack/
mlflow
minio/
notes/*


# environments
.env
.venv
env/
venv/


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Sphinx documentation
docs/_build/

# Database
*.db
*.rdb

# VS Code
.vscode/

# Jupyter Checkpoints
.ipynb_checkpoints/

# model and storage files
.joblib

*.pyc
