[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
oandapyv20 = "*"
requests = "*"
six = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.8"
