[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
oandapyv20 = "*"
requests = "*"
six = "*"
pydantic-settings = "*"
alpaca-trade-api = "*"
polygon-api-client = "*"
yfinance = "*"
openpyxl = "*"
backtrader = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
